

.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131931;
    position: sticky;
    top: 0px;
    z-index: 100;
    border-radius: 2px;
   
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    /* border: 1px solid white; */
    
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border:none;
    width: 100%;
    outline: none;
    border-radius: 4px;
    padding-right: 40px;
}
    

.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #eeb66c;
    border-radius: 0px     4px      4px           0;
    margin-left: -34px;
    border-right: 0px solid black;
    cursor: pointer;
    color: #111;
    margin-right: 10px;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right:10px;
    color: white;
}

.header__optionLineOne{
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.header__optionLineTwo{
    font-size: 14px;
    font-weight: 900;
    line-height: 15px;
    font-weight: 700;
    color: white;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
    padding-right: 2px;
    margin-right: 8px;
}

.header__basketCount{
    padding: 4px;
}


.header__dilivery a{
    display: flex;
    padding-right: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header__locationIcon{
    filter: invert();
    color: black;
}
.header__diliveryInfo{
    display: flex;
    flex-direction: column;
}