

.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131931;
    position: sticky;
    top: 0px;
    z-index: 100;
    border-radius: 2px;
    width: 99vw;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__catagoriesText{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__catagoriesDropdownContainer{
    background-color: #f3f3f3;
    height: 12px;
    display: flex;
    z-index: 1;
    font-size: .8em;
}


.header__catagoriesDropdownDiv{
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
    border-radius: 4px 0px 0px 4px;
    
}

.header__catagoriesDropdown{
    background-color: #f3f3f3;
    border: none;
    /* padding: 0px 0px 0px 8px; */
    padding: 3px 0px 4px 9px;
    border-radius: 4px 0px 0px 4px;
    outline: none !important;
    border-right: 1px solid #cdcdcd;
    width: fit-content;
    font-size: .85em !important;
}

.header__catagoriesDropdownDiv > .MuiInput-underline::before{
    border-bottom: none !important;
}

.header__catagoriesDropdownDiv > .MuiInput-underline::after{
    border-bottom: none !important;
}

.header__catagoriesDropdown:hover{
    background-color: #dadada;
    cursor: pointer;
    outline: none;
}

.header__catagoriesDropdown:focus{
    background-color: #dadada !important;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 4px;
    margin-right: 10px;
}

.header__search:focus-within{
    box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgb(255 153 0 / 50%);
}



.header__searchInput{
    height: 12px;
    padding: 10px;
    border:none;
    width: 100%;
    outline: none;
    border-radius: 0px 4px 4px 0px;
    padding-right: 40px;
    padding-left: 10px;
    margin-left: 0px;
}


    

.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #eeb66c;
    border-radius: 0px 4px 4px 0px;
    margin-left: -34px;
    border-right: 0px solid black;
    cursor: pointer;
    color: #111;
    /* margin-right: 10px; */
}

.header__searchIcon:hover{
    background-color: #f3a847;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right:10px;
    color: white;
}

.header__optionLineOne{
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.header__optionLineTwo{
    font-size: 14px;
    font-weight: 900;
    line-height: 15px;
    font-weight: 700;
    color: white;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
    padding-right: 2px;
    margin-right: 8px;
}

.header__basketCount{
    padding: 4px;
}


.header__dilivery a{
    display: flex;
    padding-right: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header__locationIcon{
    filter: invert();
    color: black;
}
.header__diliveryInfo{
    display: flex;
    flex-direction: column;
}