
.product{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: left;
    margin: 10px;
    padding: 20px;
    width: 100%;
    min-height: 380px;
    min-width: 264px;
    max-width: 300px;
    /* width:400px; */
}

.product:hover{
    box-shadow: 3px 3px 10px rgb(150, 150, 150);
}

.product__rating{
    display: flex;
}

.product__rating > p{
    margin-right: 2px;
}

.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__info{
    height: 15vh;
    margin-bottom: 15px;
}

.product__price{
    margin-top: 5px;
}

.product > button{
    border: 1px solid ;
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 10px;
    color: #111;
    cursor: pointer;
    border-radius: 3px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
}

.product > button:hover{
    background: linear-gradient(to bottom,#ecd6a7,#f0c14b);
}

/*  */